.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

body {
  font-family: "Open Sans", sans-serif;
}

.app-modal {
    background-color: white;
    position: absolute;
    width: 80%;
    max-width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    box-shadow: 0 0 12px #333;
    border-radius: 4px;
}

.app-modal .modal-title {
    text-align: center;
}

.app-modal * {
    margin-bottom: 4px;
    margin-top: 4px;
}
