.wishlist {
    width: 100%;
}

.wishlist-item,
.wishlist-item-placeholder {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    background: white;
    display: flex;
    flex-direction: column;
    min-height: 10rem;
}

.wishlist-item-placeholder {
    border-width: 2px;
    border-style: dashed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: transparent;
}

.wishlist-name {
    text-align: left;
}

.wishlist-actions {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wishlist-price {
    text-align: right;
    font-weight: 700;
}

.wishlist-style {
    text-align: left;
    width: 100%;
}

.wishlist-notes {
    text-align: left;
    width: 100%;
    font-size: 12px;
}

.wishlist-modal {
    background-color: white;
    position: absolute;
    width: 80%;
    max-width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    box-shadow: 0 0 12px #333;
    border-radius: 4px;
}

.wishlist-modal .modal-title {
    text-align: center;
}

.wishlist-modal * {
    margin-bottom: 4px;
    margin-top: 4px;
}