.wishlist {
    width: 100%;
}

.wishlist-item:first-child {
    border-top: 1px #ccc solid;
}

.wishlist-item {
    border-bottom: 1px #ccc solid;
    padding: 8px;
}

.wishlist-item-top {
    display: flex;
    justify-content: space-around;
}

.wishlist-name {
    text-align: left;
    width: 75%;
}

.wishlist-actions {
    text-align: right;
    width: 25%;
}

.wishlist-price {
    text-align: left;
    width: 100%;
    font-weight: 700;
}

.wishlist-style {
    text-align: left;
    width: 100%;
}

.wishlist-notes {
    text-align: left;
    width: 100%;
    font-size: 12px;
}

.add-item-modal,
.edit-item-modal {
    background-color: white;
    position: absolute;
    width: 80%;
    max-width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    box-shadow: 0 0 12px #333;
    border-radius: 4px;
}

.add-item-modal .modal-title,
.edit-item-modal .modal-title {
    text-align: center;
}

.add-item-modal *,
.edit-item-modal * {
    margin-bottom: 4px;
    margin-top: 4px;
}